.desktop-hidden {
    @include for-desktop-up {
        display: none;
    }
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Cabin', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
}

h4 {
    font-size: 22px;
    line-height: 36px;
    font-weight: 500;
}

button {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover,
    &:focus {
        background-color: #F082AC;
    }

    &.loginButton,
    &.logoutButton,
    &.registerButton {
        margin: 0 20px;
        display: none;

        &.open {
            @include for-up-to-desktop {
                display: none;
            }
            
            display: block;
        }
    }

}

#timepicker {
    display: none;

    &.show {
        display: block;
    }
}
section {
  @include for-desktop-up {
    width: $section-width;
    margin: 0 auto;
  }
}
